<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Listado de personas</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div th:each="clase: ${listarClases}">
        <h2 th:text="${clase.clase}"></h2>
        <table>
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Nota final</th>
                <th>Foto</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="alumno : ${clase.alumnos}">
                <td th:text="${alumno.nombre}"></td>
                <td th:text="${alumno.edad}"></td>
                <td th:text="${alumno.notaFinal}"></td>
                <!--<td id="imagen"><img th:src="@{img/{img} (img=${alumno.imagen})}"></td>-->
                <td id="blob"><img th:src="@{'/api/' + ${alumno.id} + '/foto'}" alt="Imagen alumno"></td>
            </tr>
            </tbody>
        </table>
    </div>
</body>
</html>